// Body
$body-bg: #171616;

// Typography
$font-family-sans-serif: 'Press Start 2P', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$light: #C1B9B5;
$body-color: #C1B9B5;
$primary: #C14900;
$secondary: #EFC00C;



//static const primaryColor = Color(0xFFC14900);
//static const primaryColorHex = '#C14900';
//static const secondaryColor = Color(0xFFEFC00C);
//static const lightText = Color(0xFFC1B9B5);
//static const darkPrimary = Color(0xFF2C0F00);
//static const darkSuccess = Color(0xFF022307);
//static const darkSecondary = Color(0xFF564402);
//static const transLightText = Color(0xFFC1B9B5);
